<div>
  <p>Juventus vs <%=bilet.adversara%></p>
  <p><%=bilet.campionat%></p>
  Data: <%=bilet.data%>, Ora: <%=bilet.ora.h%>:<%=bilet.ora.min%>
  <br>
  <button class="bilet">Cumpara bilet</button>
</div>